.card-slider
  &__container
    perspective: 4rem

  &__content
    width: 20em
    height: 18em
    background-color: red

#helper
  color: white
  padding: 0.2em
  border-radius: 5%
  background-color: grey
  position: absolute
  z-index: 1

#container .inner
  transition: transform 0.5s
