.card-slider
  &__container
    padding: 5rem
    perspective: 10rem

  &__content
    width: 37rem
    // height: 30rem
    background-color: red
    transition: transform 0.5s
    position: relative

    &::after
      position: absolute
      content: ''
      background: #2F3846
      opacity: 0.4
      top: 0
      left: 0
      bottom: 0
      right: 0
