.tag__wrap
  a(href="#").tag #EatClean
  a(href="#").tag #CleantEats
  a(href="#").tag.tag_active #EatLocal
  a(href="#").tag #FitFood
  a(href="#").tag #GlutenFree
  a(href="#").tag #DairyFree
  a(href="#").tag #HealthyEating
  a(href="#").tag #HealthyRecipes
  a(href="#").tag #Nutrition
  a(href="#").tag #Paleo
  a(href="#").tag #Vegan
