include mixins

-
  var cards = [
    {
      path: '/img/block-main/card-img1',
      alt: 'What Breaks a Fast? Foods, Drinks, and Supplements',
      title: 'What Breaks a Fast? Foods, Drinks, and Supplements',
      subtitle: 'WORKOUT CLOTHES',
      date: '14:51 20.09.2019',
      looks: '254',
      comments: '2'
    },
    {
      path: '/img/block-main/card-img2',
      alt: '10 Science-Based Benefits of Fennel and Fennel Seeds',
      title: '10 Science-Based Benefits of Fennel and Fennel Seeds',
      subtitle: 'WORKOUT CLOTHES',
      date: '14:51 20.09.2019',
      looks: '254',
      comments: '2'
    },
    {
      path: '/img/block-main/card-img3',
      alt: 'Bookmark This List of Low-Carb Foods For Your Next Trip to the Grocery Store',
      title: 'Bookmark This List of Low-Carb Foods For Your Next Trip to the Grocery Store',
      subtitle: 'WORKOUT CLOTHES',
      date: '14:51 20.09.2019',
      looks: '254',
      comments: '2'
    },
    {
      path: '/img/block-main/card-img4',
      alt: 'What Breaks a Fast? Foods, Drinks, and Supplements',
      title: 'What Breaks a Fast? Foods, Drinks, and Supplements',
      subtitle: 'WORKOUT CLOTHES',
      date: '14:51 20.09.2019',
      looks: '254',
      comments: '2'
    },
  ];

section.main
  .main__header
    img#menu-open.navbar__burger(src="/img/icons/burger.svg", alt="Open menu")
    .main__logo-wrap
      img.main__logo(src="/img/big-logo.svg", alt="DietZones.com logo")

    .main__header-btn-wrap
      img.navbar__search(src="/img/icons/search.svg", alt="search")
      a.main-btn.main-btn_accent-outline.navbar__btn-signup(href="#") Sign up
      a.main-btn.main-btn_black.navbar__btn-signin(href="#") Sign in

  .main__menu
    include menu

  .main__content
    .slider-wrapper
      ul#main-slider.slider(data-target="carousel")
        each card in cards
          +card-main(card)

      +slider-btn-prev()
      +slider-btn-next()

      .slider__pagination
        span.paginatecircle.paginatecircle_active(data-index=0)
        span.paginatecircle(data-index=1)
        span.paginatecircle(data-index=2)
        span.paginatecircle(data-index=3)
