.newpost__container(data-aos="flip-up")
  .newpost__content
    .newpost__col
      p.newpost__text Blogs are a special section of the DietZones.com site and are intended for users to publish their materials and organize discussions based on them, subject to the terms of the User Agreement.

    .newpost__col
      a.newpost__link(href="#") Send new Post
