include mixins

-
  var cardsEvents = [
    {
      path: '/img/block-editors/big-card-img1',
      alt: 'What Breaks a Fast? Foods, Drinks, and Supplements',
      title: 'What Breaks a Fast? Foods, Drinks, and Supplements',
      text: 'Walking is a great form of physical activity that\'s free, low risk and easy to do. Importantly, it can also help you lose weight and belly fat.',
      imgText: 'Events',
      date: '6 July 2019 - 10 October 2019'
    },
    {
      path: '/img/block-know/card-img2',
      alt: 'What Breaks a Fast? Foods, Drinks, and Supplements',
      title: 'What Breaks a Fast? Foods, Drinks, and Supplements',
      text: 'Walking is a great form of physical activity that\'s free, low risk and easy to do. Importantly, it can also help you lose weight and belly fat.',
      class: 'know-card__image-wrap_five',
      imgText: 'Events',
      date: '6 July 2019 - 10 October 2019'
    }
  ];

  var cardsBig = [
    {
      path: '/img/block-editors/big-card-img1',
      alt: 'The Athleisure Brand You\'ve Seen All Over Instagram Makes the Most Flattering Workout Clothes',
      title: 'The Athleisure Brand You\'ve Seen All Over Instagram Makes the Most Flattering Workout Clothes',
      text: 'Walking is a great form of physical activity that\'s free, low risk and easy to do. Importantly, it can also help you lose weight and belly fat.',
      subtitle: 'WORKOUT CLOTHES',
      date: '14:51 20.09.2019',
      looks: '254',
      comments: '2',
      imgText: 'News'
    },
    {
      path: '/img/block-know/card-img2',
      alt: 'The Athleisure Brand You\'ve Seen All Over Instagram Makes the Most Flattering Workout Clothes',
      title: 'The Athleisure Brand You\'ve Seen All Over Instagram Makes the Most Flattering Workout Clothes',
      text: 'Walking is a great form of physical activity that\'s free, low risk and easy to do. Importantly, it can also help you lose weight and belly fat.',
      subtitle: 'WORKOUT CLOTHES',
      date: '14:51 20.09.2019',
      looks: '254',
      comments: '2',
      class: 'know-card__image-wrap_two',
      imgText: 'News'
    },
    {
      path: '/img/block-know/card-img3',
      alt: 'The Athleisure Brand You\'ve Seen All Over Instagram Makes the Most Flattering Workout Clothes',
      title: 'The Athleisure Brand You\'ve Seen All Over Instagram Makes the Most Flattering Workout Clothes',
      text: 'Walking is a great form of physical activity that\'s free, low risk and easy to do. Importantly, it can also help you lose weight and belly fat.',
      subtitle: 'WORKOUT CLOTHES',
      date: '14:51 20.09.2019',
      looks: '254',
      comments: '2',
      class: 'hottest-card-big__image-wrap_three',
      imgText: 'Blog'
    },
    {
      path: '/img/block-editors/big-card-img1',
      alt: 'The Athleisure Brand You\'ve Seen All Over Instagram Makes the Most Flattering Workout Clothes',
      title: 'The Athleisure Brand You\'ve Seen All Over Instagram Makes the Most Flattering Workout Clothes',
      text: 'Walking is a great form of physical activity that\'s free, low risk and easy to do. Importantly, it can also help you lose weight and belly fat.',
      subtitle: 'WORKOUT CLOTHES',
      date: '14:51 20.09.2019',
      looks: '254',
      comments: '2',
      class: 'know-card__image-wrap_four',
      imgText: 'Blog'
    }
  ];

  var cards = [
    {
      path: '/img/block-editors/card-img4',
      alt: 'Nutrient type and timing for optimal exercise output',
      title: 'Nutrient type and timing for optimal exercise output',
      subtitle: 'WORKOUT CLOTHES',
      date: '14:51 20.09.2019',
      looks: '254',
      comments: '2'
    },
    {
      path: '/img/block-editors/card-img1',
      alt: 'Nutrient type and timing for optimal exercise output',
      title: 'Nutrient type and timing for optimal exercise output',
      subtitle: 'WORKOUT CLOTHES',
      date: '14:51 20.09.2019',
      looks: '254',
      comments: '2'
    },
    {
      path: '/img/block-know/card-sm-2',
      alt: 'Nutrient type and timing for optimal exercise output',
      title: 'Nutrient type and timing for optimal exercise output',
      subtitle: 'WORKOUT CLOTHES',
      date: '14:51 20.09.2019',
      looks: '254',
      comments: '2'
    },
    {
      path: '/img/block-editors/card-img4',
      alt: 'Nutrient type and timing for optimal exercise output',
      title: 'Nutrient type and timing for optimal exercise output',
      subtitle: 'WORKOUT CLOTHES',
      date: '14:51 20.09.2019',
      looks: '254',
      comments: '2'
    },
  ];
section.updates_mobile-wrap
  +block-updates()
section.know
  h2.know__title Did you know?

  .know__content
    .know__col
      each card in cardsBig
        +card-know-big(card)

      .know__footer
        img.know__footer-more(src='/img/icons/more.svg', alt='Show more')

      each card in cardsEvents
        +card-know-events(card)

      .know__footer
        img.know__footer-more(src='/img/icons/more.svg', alt='Show more')

    .know__col
      +block-updates()

      .know__title-top-wrap
        h2.know__title-top Top 3

      each card in cards
        +card-know(card)
