.pagination
  .pagination__left
    img.pagination__img(src="/img/icons/pagination_prev.svg", alt="previous page")

  .pagination__line.pagination__line_big

  a.pagination__link(href="#") 1
  .pagination__line

  a.pagination__link(href="#") 2
  .pagination__line

  a.pagination__link(href="#") 3
  .pagination__line

  a.pagination__link(href="#") 4

  .pagination__line.pagination__line_big
  .pagination__right
    img.pagination__img(src="/img/icons/pagination_next.svg", alt="next page")
