footer.footer
  a(href="index.html").footer__logo-wrap
    img.footer__logo(src="/img/big-logo_white.svg", alt="DietZones.com logo")

  .footer__content
    .footer__col
      p.footer__text Use and reprinting of DietZone.com materials is possible only with the written permission of the publisher and with an active link to the source. Attention! It is not allowed to post photos, videos or other content on the site if you do not have the necessary rights and / or consent of the copyright holder. Before registering recommend that you read the user agreement. We use cookies to get statistics and make the content more interesting. Cookies are also used to make ads more relevant. You can read more about cookies and change your browser settings.

    .footer__col
      .footer__form-title Subscribe to the diet newsletter

      form.footer__form
        input.footer__form-input(type="text", placeholder='Enter your email')
        button.footer__form-btn(type="submit", value='ok') ok

  .footer-menu__wrap
    ul.menu.footer-menu
      li.menu__item.footer-menu__item
        a.menu__link.footer-menu__link(href="#") News
      li.menu__item.footer-menu__item
        a.menu__link.footer-menu__link(href="#") Living well
      li.menu__item.footer-menu__item
        a.menu__link.footer-menu__link(href="#") Beauty
      li.menu__item.footer-menu__item
        a.menu__link.footer-menu__link(href="#") Diet
      li.menu__item.footer-menu__item
        a.menu__link.footer-menu__link(href="#") Fitness

    ul.menu.footer-menu
      li.menu__item.footer-menu__item
        a.menu__link.footer-menu__link(href="page-blog.html") BLOG
      li.menu__item.footer-menu__item
        a.menu__link.footer-menu__link(href="#") Celebrities
      li.menu__item.footer-menu__item
        a.menu__link.footer-menu__link(href="#") Privacy Policy
      li.menu__item.footer-menu__item
        a.menu__link.footer-menu__link(href="#") Contact us
      li.menu__item.footer-menu__item
        a.menu__link.footer-menu__link(href="#") Advertise

  .menu-mobile__icons.footer__icons
    .menu-mobile__icon
      img.menu-mobile__img(src="/img/icons/fb_white.svg", alt="Facebook")
    .menu-mobile__icon
      img.menu-mobile__img(src="/img/icons/twitter_white.svg", alt="Facebook")
    .menu-mobile__icon
      img.menu-mobile__img(src="/img/icons/instagram_white.svg", alt="Facebook")
    .menu-mobile__icon
      img.menu-mobile__img(src="/img/icons/youtube_white.svg", alt="Facebook")
    .menu-mobile__icon
      img.menu-mobile__img(src="/img/icons/mail_white.svg", alt="Facebook")
