ul.menu
  li.menu__item
    a.menu__link.menu__link_active(href="#") News
  li.menu__item
    a.menu__link(href="#") Living well
  li.menu__item
    a.menu__link(href="#") Beauty
  li.menu__item
    a.menu__link(href="#") Diet
  li.menu__item
    a.menu__link(href="#") Fitness
  li.menu__item
    a.menu__link(href="page-blog.html") BLOG
  li.menu__item
    a.menu__link(href="#") Celebrities
