#menu-mobile.menu-mobile
  .menu-mobile__top
    img#menu-close.menu-mobile__close(src="/img/icons/burger.svg", alt="Open menu")
    img.menu-mobile__logo(src="/img/big-logo.svg", alt="DietZones.com logo")

    img.menu-mobile__search(src="/img/icons/search.svg", alt="search")

  .menu-mobile__btn-wrap
    a.main-btn.main-btn_accent-outline.menu-mobile__btn-one(href="#") Sign up
    a.main-btn.main-btn_black(href="#") Sign in

  .menu-mobile__content
    .menu-mobile__col
      ul.menu-mobile-list
        li.menu-mobile__item
          a.menu-mobile__link(href="#") News
        li.menu-mobile__item
          a.menu-mobile__link(href="#") Living well
        li.menu-mobile__item
          a.menu-mobile__link(href="#") Beauty
        li.menu-mobile__item
          a.menu-mobile__link(href="#") Diet
        li.menu-mobile__item
          a.menu-mobile__link(href="#") Fitness

    .menu-mobile__col
      ul.menu-mobile-list
        li.menu-mobile__item
          a.menu-mobile__link(href="#") BLOG
        li.menu-mobile__item
          a.menu-mobile__link(href="#") Celebrities
        li.menu-mobile__item
          a.menu-mobile__link(href="#") Privacy Policy
        li.menu-mobile__item
          a.menu-mobile__link(href="#") Contact us
        li.menu-mobile__item
          a.menu-mobile__link(href="#") Advertise

  .menu-mobile__footer
    .menu-mobile__footer-title Subscribe to the diet newsletter

    form.menu-mobile__form
      input.menu-mobile__input(type="text", placeholder='Enter your email')
      button.menu-mobile__btn(type="submit", value='ok') ok

    .menu-mobile__icons
      .menu-mobile__icon
        img.menu-mobile__img(src="/img/icons/fb.svg", alt="Facebook")
      .menu-mobile__icon
        img.menu-mobile__img(src="/img/icons/twitter.svg", alt="Facebook")
      .menu-mobile__icon
        img.menu-mobile__img(src="/img/icons/instagram.svg", alt="Facebook")
      .menu-mobile__icon
        img.menu-mobile__img(src="/img/icons/youtube.svg", alt="Facebook")
      .menu-mobile__icon
        img.menu-mobile__img(src="/img/icons/mail.svg", alt="Facebook")
