nav.navbar
  .navbar__left
    img(src="/img/icons/burger.svg", alt="Open menu")
    img(src="/img/big-logo.svg", alt="DietZones.com logo")

  include menu

  .navbar__btn-wrap
    img(src="/img/icons/search.svg", alt="search")
    a.main-btn(href="#") Sign up
    a.main-btn.main-btn_black(href="#") Sign in
