nav#navbar.navbar
  .navbar__left
    img#menu-open-scroll.navbar__burger(src="/img/icons/burger.svg", alt="Open menu")
    a(href="index.html").navbar__logo-wrap
      img(src="/img/big-logo.svg", alt="DietZones.com logo")

  include menu

  .navbar__btn-wrap
    img.navbar__search(src="/img/icons/search.svg", alt="search")
    a.main-btn.main-btn_accent-outline.navbar__btn-signup(href="#") Sign up
    a.main-btn.main-btn_black.navbar__btn-signin(href="#") Sign in
