nav#navbar-p.navbar-p
  .navbar-p__left
    img#menu-open.navbar-p__burger(src="/img/icons/burger.svg", alt="Open menu")
    a(href="index.html")
      img(src="/img/big-logo.svg", alt="DietZones.com logo")

  include menu

  .navbar-p__btn-wrap
    img.navbar-p__search(src="/img/icons/search.svg", alt="search")
    a.main-btn.main-btn_accent-outline.navbar-p__btn-signup(href="#") Sign up
    a.main-btn.main-btn_black.navbar-p__btn-signin(href="#") Sign in
