extends partials/layout

block vars
  - var title = "DietZones.com"

block content
  include partials/menu-mobile
  include partials/block-main
  include partials/block-editors
  include partials/block-slider
