extends partials/layout

include partials/mixins

block vars
  - var title = "DietZones.com"
  -
    var news = {
      path: '/img/page/news-img_main',
      alt: 'WORKOUT CLOTHES',
      title: 'The Athleisure Brand You\'ve Seen All Over Instagram Makes the Most Flattering Workout Clothes',
      text: 'When we look for workout clothes, we have a few nonnegotiable requirements. The pieces have to be functional, and they have to look good. Otherwise, what\'s the point? Outdoor Voices has been one of our go-to brands since it was founded in 2014 — it makes clothes you want to live your life in, whether you\'re heading to dance class or just taking the dog for a walk.',
      subtitle: 'WORKOUT CLOTHES',
      date: '14:51 20.09.2019',
      looks: '254',
      comments: '2'
    };

block content
  include partials/menu-mobile
  include partials/block-main
  .news__wrap
      +block-news-full(news)

  include partials/block-editors
  include partials/block-slider
  include partials/block-hottest
  include partials/block-know
