extends partials/layout

block content
  ul.test
    li
      a(href="index.html") home
    li
      a(href="page-blog.html") blog
    li
      a(href="page-news.html") news
    li
      a(href="page-article.html") article
    li
      a(href="page-modal.html") modal

  include partials/modals
